body, p, td {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 12px;
}

a:link, a:visited, a:hover {
	color: #0076CC;
}

h1, h2, h3, h4, h5 {
	font-family: arial, verdana, helvetica, sans-serif;
}

h1 { 
	font-family: Helvetica,Arial,Verdana;
	font-size: 24px;
	color:#0066CC;
	font-weight: normal;
	margin: 0;
}

h2 { 
	font-size: 16px; 
	line-height: normal; 
	font-weight: bold; 
	color: #444;
	margin: 0;
	padding-bottom: 0;
}

h4, h5 {
	padding-bottom: 0;
	margin-bottom: 0;
}

p {
	margin-left: 0;
}

.date {
	font-size: 11px;
	color: #999;
}


/* LEFT NAV */

/* The left nav is coded completely with varying levels of H (heading) tags. */

.nav a:link, .nav a:visited {
	color: #666;
	text-decoration: none;
}

.nav a:hover {
	color: #666;
	text-decoration: underline;
}

.nav h1, .nav h2, .nav h3, .nav h4, .nav h5 {
	line-height: 1.2em;
}

.nav h1 {
	font-size: 11px;
	font-weight: bold;
	background-color: #ddd;
	padding: 6px 5px;
	color: #666;
	margin: 2px;
}

.nav h2, .nav h3, .nav h4, .nav h5 {
	background-color: #f7f7f7;
	padding: 2px 5px;
	color: #666;
	margin: 0px;
	padding: 2px 5px;
}

.nav h2 {
	font-size: 11px;
	font-weight: bold;
	padding-top: 4px;
	padding-bottom: 4px;
}

.nav h3 {
	font-size: 11px;
	font-weight: normal;
}

.nav h4 {
	font-size: 10px;
	font-weight: bold;
	padding-left: 20px;
}

.nav h5 {
	font-size: 10px;
	font-weight: normal;
	padding-left: 20px;
}

/* other styles */

.breadcrumb a:link, .breadcrumb a:visited {
	color: #0076CC;
	text-decoration: none;
}

.breadcrumb a:hover {
	color: #0076CC;
	text-decoration: underline;
}

.breadcrumb {
	margin: 0;
	padding: 0 0 20px 0;
}


