a img { border-style: none; }

body
        {
		margin:0;
		padding:0;
		background-color: #fff;
        }
        
td
	{
		vertical-align: top;
	}

a:link
        {
                color: #00235D;
                text-decoration: underline;
        }

#header
	{
		text-align: left;
		margin: 0px;
		padding: 0px;
		font-size: 10px;
		font-family: verdana,arial,sans-serif;
		line-height:1.5;
	}
	
.breadcrumb
	{
		margin: 0px 0px 0px 0px;
		padding: 10px 15px 15px 15px;
		top: 0;
		bottom: 0;
		text-align: left;
		border: 1px solid #fff;
	}
.breadcrumb, .breadcrumb td
	{
		color: #666;
		font-size: 11px;
		font-family: verdana,arial,sans-serif;
		letter-spacing: normal;
	}
#summary
	{
		margin: 5px 15px 0px 15px;
		display: block;
		padding: 0px;
		padding-top: 10px;
		top: 0;
		bottom: 0;
		text-align: left;
		border: 1px solid #fff;
	}

#header .unb
	{
		background:#e6e6e6;
		border-bottom:#777 1px solid;
		margin-bottom: 2px;
		height: 21px;
		width: 100%;
	}
	

#header .graybox
	{
		background-color: #eee;
		border-top: 1px dotted #666;
		border-bottom: 1px dotted #666;
		padding: 10px;
		margin: 10px 0px 10px 0px;
	}
	
#header .buttons
	{
		top: 0px;
		position: absolute;
		right: 0px;
	}
	
#header .headergraphics
	{
		height: 59px;
		background-image: url(images/square.gif);
		background-repeat: repeat;
	}
	
#header .redline, #footer .redline
	{
		background:#9F160E;
	}

#header .graybar
	{
		background: #e6e6e6;
		color: #333;
		font-size: 10px;
		font-weight:bold;
		font-family: verdana,arial,sans-serif;
		position: relative;
		height: 25px;
	}

#header .topnav
	{
		position: absolute;
		left: 15px;
		top:5px;
		
	}

#header .topnav a:link, .topnav a:visited
	{
		text-decoration: none;
		color: #333;
		font-size: 10px;
		font-weight:bold;
		font-family: verdana,arial,sans-serif;
	}

#header .topnav a:hover
	{
		text-decoration: underline;
		font-size: 10px;
		font-weight:bold;
		font-family: verdana,arial,sans-serif;

	}

#header .graphicdev2dev
	{
		position: absolute; 
		top: 23px; 
		left: 0px;
	}

#header .graphicbea
	{
		position: absolute; 
		top: 23px; 
		left: 596px;
	}	

#header .slogan
	{
		position: absolute;
		top:8px;
		left:8px;
		width:150px;
		height:8px;
	}
	
#header .searchbox
	{
		right: 10px;
		position: absolute;
		top: 2px;
	}

#header .searchbox input
	{
		vertical-align: top;
		font-size: 11px;
	}
	
#header .twodots, #footer .twodots
	{
		background-image: url(images/twodots.gif);
		background-repeat: repeat-x;
		height: 3px;
	}

#summary .title_line
	{
		background-image: url(images/title_line.gif);
		background-repeat: repeat-x;
		height: 4px;
		margin-bottom: 10px;
		margin-top: 3px;
	}
	
#header .unb, .headergraphics, .redline, .topnav, .twodots
	{
		display: block;
		border-collapse: collapse;
		padding: 0px;
	}

#footer .bottomdots
	{
		background-image: url(images/twodots.gif);
		background-repeat: repeat;
		height: 3px;	
		width: 100%;	
		margin: 0px;
		padding: 0px;
		border-bottom: 3px solid #9F160E;
	}

#footer 
	{
		
		width: 100%;
		margin: 50px 0px 0px 0px;
		padding: 0px;
		font-size: 10px;
		font-family: verdana,arial,sans-serif;
		text-align: center;
		line-height:2.0;
		color: #666;
		
	}

#footer .footertext, .footertext a:link, .footertext a:visited 
	{
		color: #818181;
		text-align: center;
	}

#footer .footertext, .footertext a:link, .footertext a:visited 
	{
		color: #818181;
	}

#footer div .footertext
	{
		margin-bottom: 3px;
	}
	    
.hide
	{
		display: none;
	}


#wrap
	{
		position: relative;
		margin: 0px 15px;
		width: 97%;
	}
