/* v1.37b - 7/7/05 */
	INPUT, OPTION, SELECT, TD {
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;	
	}
	TH {
		FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
		FONT-WEIGHT: bold;
		FONT-SIZE: 10pt;
	}
	td.shadedwithborder {
		border: solid 1px #000000;
		background-color: #eeeeee;
	}
	 a:active {
	 		COLOR: #FF0000;
	}
a:link, a:visited {
            color: #0076CC; 
            text-decoration: none; 
} 
a:hover {
            color: #0076CC; 
            text-decoration: underline; 
}
 	.navarea { 
    		MARGIN-TOP: 0.05in; 
    		MARGIN-BOTTOM: 0.05in; 
    		MARGIN-LEFT: 0.07in; 
    		MARGIN-RIGHT: 0.03in; 
    		FONT-FAMILY: Arial,Helvetica,sans-serif;
    		FONT-SIZE: 8pt;
    		FONT-WEIGHT: Bold;
    		TEXT-DECORATION: None;
  	}
	 	.navarea-color {
		BACKGROUND-COLOR: #DDE4EB; 
	}
	a.bea-navbar:link, a.bea-navbar:active, a.bea-navbar:visited, 
a.bea-navbar:hover {
    	FONT-FAMILY: Arial,sans-serif;
		COLOR: white; 
		FONT-SIZE: 8pt; 
		FONT-WEIGHT: bold;    
		TEXT-DECORATION: None;
  	}
    a.horiznav-link:link, a.horiznav-link:active, a.horiznav-link:visited, 
a.horiznav-link:hover {
            FONT-FAMILY: Verdana,Helvetica,Arial,sans-serif;
            FONT-SIZE: 7.5pt; 
            TEXT-DECORATION: None;
            COLOR: black;
    }
	a.medlink:hover {
		FONT-SIZE: 8pt;
		FONT-WEIGHT: Bold;
    		COLOR: red; 
    		TEXT-DECORATION:none;
  	}
	a.medlink:link, a.medlink:active, a.medlink:visited {
		FONT-SIZE: 8pt;
		FONT-WEIGHT: Bold;
    		COLOR:#996600; 
    		TEXT-DECORATION:none;
  	}
	a.nav:hover  {
    		FONT-FAMILY: Arial,Helvetica,sans-serif;
		COLOR:#404b58;
		FONT-SIZE: 8pt;
		FONT-WEIGHT: Bold;
    		TEXT-DECORATION: none; 
	}
	a.nav:link, a.nav:active, a.nav:visited  {
    		FONT-FAMILY: Arial,Helvetica,sans-serif;
		COLOR:#404b58;
		FONT-SIZE: 8pt;
		FONT-WEIGHT: Bold;
    		TEXT-DECORATION: none; 
	}
	a.nav-minor:hover  {
		COLOR:black;
		FONT-SIZE: 8pt;
    		TEXT-DECORATION: none; 
	}
	a.nav-minor:link, a.nav-minor:active, a.nav-minor:visited  {
		COLOR:#404b58;
		FONT-SIZE: 8pt;
    		TEXT-DECORATION: none; 
	}
	a.navsel:link, a.navsel:active, a.navsel:visited  {
    		FONT-FAMILY: Arial,Helvetica,sans-serif;
		COLOR: black;
		FONT-SIZE: 8pt;
		FONT-WEIGHT: Bold;
    		TEXT-DECORATION: none; 
	}
	.leftnav-color {
    		BACKGROUND-COLOR: #DDE4EB;
	}
	ol {
			MARGIN-LEFT:0.5in; 
			MARGIN-RIGHT: .15in; 
			MARGIN-TOP: 0.1in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
			COLOR: #000000;
	}
	ol ol li { 
			font-family: Verdana,Arial,Helvetica, sans-serif;
			font-size: 10pt; 
			color: #000000; 
			list-style-type: lower-alpha; 
	}
	li {
			MARGIN-TOP: 0.1in; 
			MARGIN-BOTTOM: 0; 
	}
	ol li p {
			MARGIN-LEFT:0.0in; 
	}
	p {
			MARGIN-LEFT: 0.25in; 
			MARGIN-RIGHT: .15in; 
			MARGIN-TOP: 0.1in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
			COLOR: #000000;
	}
	td {
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
			COLOR: #000000;
	}
	td p {
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
			COLOR: #000000;
			MARGIN-LEFT: 0in;
	}
	td.rednote {
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
			COLOR: red;
	}
	ul {
        	MARGIN-LEFT: 0.5in; 
        	MARGIN-RIGHT: .15in; 
        	MARGIN-TOP: 0.1in; 
        	MARGIN-BOTTOM: 0; 
        	FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
        	FONT-SIZE: 10pt;
        	COLOR: #000000;
	}
	.code {
		font-family: "Courier New", Courier, monospace;
		font-size: small;
	}
	.footer {
    		MARGIN-LEFT: 0.0in;
    		MARGIN-TOP: 0.1in; 
    		FONT-SIZE: 8pt;
  	}
	.lists {
			MARGIN-TOP: 0.1in;
	}
	ol.smallindent {
        	MARGIN-LEFT: 0.025in; 
        	MARGIN-RIGHT: .1in; 
        	MARGIN-TOP: 0.1in; 
        	MARGIN-BOTTOM: 0.1in; 
	}	
	p.booktitle {
			MARGIN-TOP: 0; 
			MARGIN-BOTTOM: 0;
			MARGIN-LEFT: 1%;
			COLOR: #0076CC;
			FONT-SIZE: 14pt;
			FONT-WEIGHT: Bold;
			TEXT-ALIGN: left;
	}
	h1.apphead, h1.chaphead, h1.glosshead, h1.Title, h1.topictitle1 {
			MARGIN-LEFT: 0.2in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.1in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,sans-serif;
			FONT-WEIGHT: normal;
			FONT-SIZE: 190%;
			COLOR: black;
	}
	h1.appheadTOC, h1.chapheadTOC, h1.glossheadTOC, div.chapheadTOC {
			MARGIN-LEFT: 0.25in; 
			MARGIN-RIGHT: .15in; 
			MARGIN-TOP: 0.1in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
			FONT-WEIGHT: bold;
			COLOR: #000000;
	}
	p.apphead, p.chaphead, p.glosshead  {
			MARGIN-LEFT: 0.2in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.1in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,sans-serif;
			FONT-WEIGHT: normal;
			FONT-SIZE: 190%;
			COLOR: black;
	}
	h2.TOC {
			MARGIN-LEFT: 0.25in; 
			MARGIN-RIGHT: .15in; 
			MARGIN-TOP: 0.1in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
			FONT-WEIGHT: normal;
			COLOR: #000000;
	}
	p.cautionpara {
			MARGIN-LEFT: 0.95in;
	}
	p.cellheading {
			MARGIN-LEFT: 0in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0; 
			MARGIN-BOTTOM: 0.1in;
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			font-weight: bold;
	}
	p.celllistpara {
			MARGIN-LEFT: 0.2in;
	}
	p.cellnote {
			MARGIN-LEFT: 0.0in;
			MARGIN-BOTTOM: 0.1in;
	}
	p.codetitle, p.figuretitle {
			MARGIN-TOP: 0.25in; 
			MARGIN-LEFT: 0.25in;
			FONT-SIZE: 10pt; 
			FONT-WEIGHT: Bold;
	}
	p.comment {
			COLOR: #FF0000;
			FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif;
			FONT-WEIGHT: Bold;
	}
	p.defpara {
			MARGIN-LEFT: 0in;
	}
	p.defpara2 {
			MARGIN-LEFT: 0in;
	}
	p.defterm {
			MARGIN-LEFT: 0in;
			FONT-WEIGHT: bold;
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
	}
	p.defterm2 {
			MARGIN-LEFT: 0.45in;
			FONT-WEIGHT: bold;
	}	
	.glossbullet {
		margin-left: 0.2in;
	}
	p.glossdef {
			MARGIN-LEFT: 0.4in; 
				MARGIN-TOP: 0.1in;
	}
	p.glosslistpara {
			MARGIN-LEFT: 0.7in;
			MARGIN-TOP: 0.1in;
	}
	p.glossnumlist {
			MARGIN-LEFT: 0;
			MARGIN-TOP: 0.1in;
	}
	.GlossDef-NumBegin, .GlossDef-Num {
			margin-left: 0.2in;
	}
    p.glossterm {
			FONT-WEIGHT: bold; 
	}
	h1.grouptitlesIX {
			MARGIN-LEFT: 0.15in;
			MARGIN-TOP: 0.2in; 
			FONT-FAMILY: Arial,Helvetica,sans-serif;
			FONT-WEIGHT: bold; 
			FONT-SIZE: 12pt;
	}
	p.grouptitlesIX {
			MARGIN-LEFT: 0.15in;
			MARGIN-TOP: 0.2in; 
			FONT-FAMILY: Arial,Helvetica,sans-serif;
			FONT-WEIGHT: bold; 
			FONT-SIZE: 12pt;
	}
	h1.head1 {
			MARGIN-LEFT: 0.2in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.2in; 
			MARGIN-BOTTOM: 0;
			FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif;
			FONT-WEIGHT: normal;
			FONT-SIZE: 190%; 
			COLOR: black;
			TEXT-ALIGN: left;
	}
	p.head1 {
			MARGIN-LEFT: 0.2in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.2in; 
			MARGIN-BOTTOM: 0;
			FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif;
			FONT-WEIGHT: normal;
			FONT-SIZE: 190%; 
			COLOR: black;
			TEXT-ALIGN: left;
	}		
	h2.head2 {
			MARGIN-LEFT: 0.2in;
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.25in;
			MARGIN-BOTTOM: 0;
			FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif;
			FONT-WEIGHT: normal;
			FONT-SIZE: 150%; 
			COLOR: black;
			TEXT-ALIGN: left;
	}
	p.head2 {
			MARGIN-LEFT: 0.2in;
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.25in;
			MARGIN-BOTTOM: 0;
			FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif;
			FONT-WEIGHT: normal;
			FONT-SIZE: 150%; 
			COLOR: black;
			TEXT-ALIGN: left;
	}	
	h3.head3 {
			MARGIN-LEFT: 0.2in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.25in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; 
			FONT-WEIGHT: normal;
			FONT-SIZE: 120%;
			COLOR: black;
			TEXT-ALIGN: left;
	}
	h3.greytitlebar {
		MARGIN-TOP: 2%; 
		MARGIN-LEFT: 0;
		margin-bottom: 0;
		FONT-WEIGHT: bold;
		font-size: 11pt;
		FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; 
		BACKGROUND: #ced9e0;
		color: Black;
		PADDING-BOTTOM: 3px; 
		PADDING-TOP: 3px; 
		PADDING-LEFT: 6px;
}
	p.head3 {
			MARGIN-LEFT: 0.2in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.25in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; 
			FONT-WEIGHT: normal; 
			FONT-SIZE: 120%;
			COLOR: black;
			TEXT-ALIGN: left;
	}
	h4.head4, p.relatedtopics, h4 {
			MARGIN-LEFT: 0.2in;
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.25in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; 
			FONT-WEIGHT: normal; 
			FONT-SIZE: 105%; 
			COLOR: black;
			TEXT-ALIGN: left;
	}
	h4.bold {
			MARGIN-LEFT: 1%;
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.25in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; 
			FONT-WEIGHT: bold; 
			FONT-SIZE: 105%; 
			COLOR: black;
			TEXT-ALIGN: left;
	}
	p.head4 {
			MARGIN-LEFT: 0.2in;
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.25in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; 
			FONT-WEIGHT: normal;
			FONT-SIZE: 105%; 
			COLOR: black;
			TEXT-ALIGN: left;
	}	
	h1.headmain {
			MARGIN-LEFT: 0.15in; 
         			MARGIN-RIGHT: 0; 
        			MARGIN-TOP: 0.1in; 
         			MARGIN-BOTTOM: 0; 
         			FONT-FAMILY: Arial,Helvetica,sans-serif;
         			FONT-WEIGHT: normal; 
         			FONT-SIZE: 190%;
         			COLOR: black;
	}
	.headmain {
			MARGIN-LEFT: 0.15in; 
         			MARGIN-RIGHT: 0; 
         			MARGIN-TOP: 0.1in; 
         			MARGIN-BOTTOM: 0; 
         			FONT-FAMILY: Arial,Helvetica,sans-serif;
         			FONT-WEIGHT: normal; 
         			FONT-SIZE: 190%;
         			COLOR: black;
	}
	h1.headmainIX {
			MARGIN-LEFT: 0.15in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.1in;
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,sans-serif;
			FONT-WEIGHT: bold; 
			FONT-SIZE: 18pt;
			COLOR: black;
	}
	p.headmainIX {
			MARGIN-LEFT: 0.15in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.1in;
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,sans-serif;
			FONT-WEIGHT: bold; 
			FONT-SIZE: 18pt;
			COLOR: black;
	}
	h1.headmainTOC {
			MARGIN-LEFT: 0.15in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.1in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,sans-serif;
			FONT-WEIGHT: bold; 
			FONT-SIZE: 18pt;
			COLOR: black;
	}
	p.headmainTOC {
			MARGIN-LEFT: 0.15in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0.1in; 
			MARGIN-BOTTOM: 0; 
			FONT-FAMILY: Arial,Helvetica,sans-serif;
			FONT-WEIGHT: bold; 
			FONT-SIZE: 18pt;
			COLOR: black;
	}
	h1.letterguide {
			MARGIN-LEFT: 0.0in;
			MARGIN-RIGHT: 0;
			MARGIN-TOP: 0.25in; 
			MARGIN-BOTTOM: 0; 
			TEXT-ALIGN: center;
			vertical-align: middle;
			FONT-FAMILY: Arial,Helvetica,sans-serif; 
			FONT-WEIGHT: bold; 
			FONT-SIZE: 12pt; 
	}
	p.letterguide, .letterguideA {
			MARGIN-LEFT: 0.0in;
			MARGIN-RIGHT: 0;
			MARGIN-TOP: 0.25in; 
			MARGIN-BOTTOM: 0; 
			TEXT-ALIGN: center;
			vertical-align: middle;
			FONT-FAMILY: Arial,Helvetica,sans-serif; 
			FONT-WEIGHT: bold; 
			FONT-SIZE: 12pt; 
	}
	p.level1IX {
			MARGIN-LEFT: 0.2in; 
	}
	p.level2IX {
			MARGIN-LEFT: 0.5in; 
	}
	p.level3IX {
			MARGIN-LEFT: 0.75in; 
	}
	p.level4IX {
			MARGIN-LEFT: 1.0in; 
	}
	p.level5IX {
			MARGIN-LEFT: 1.25in; 
	}
	p.listnote {
			MARGIN-LEFT: 0in;
	}
	p.listnote2 {
			MARGIN-LEFT: 0in;
	}
	p.listnotepara {
			MARGIN-LEFT: 0.45in;
	}
	p.listpara {
			MARGIN-LEFT: 0;
	}
	p.listpara2 {
			MARGIN-LEFT: 0in;
	}	
	p.localtopic1, p.localtopic1sonly {
			MARGIN-TOP: 0; 
			MARGIN-LEFT: 0.2in; 
	}
	p.localtopic2 {
			MARGIN-TOP: 0; 
			MARGIN-LEFT: 0.4in; 
	}
	p.localtopic3 {
			MARGIN-TOP: 0; 
			MARGIN-LEFT: 0.6in; 
	}
	p.note {
			MARGIN-LEFT: 0.25in;
	}
	p.notepara {
			MARGIN-LEFT: 0.7in;
	}
	p.numlist2 {
			MARGIN-LEFT: -0.4in;
	}
	p.small {
            MARGIN-LEFT: 0; 
            MARGIN-RIGHT: 0; 
            MARGIN-TOP: 0; 
            MARGIN-BOTTOM: 0; 
            FONT-SIZE: 1pt;
   }
	p.table {
			MARGIN-LEFT: 0in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0; 
			MARGIN-BOTTOM: 0.1in; 
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
	}
	p.tablefootnote {
			MARGIN-LEFT: 0in; 
			MARGIN-RIGHT: 0; 
			MARGIN-TOP: 0; 
			MARGIN-BOTTOM: 0in; 
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
	}
	p.tabletitle {
			MARGIN-TOP: 0.25in; 
			MARGIN-LEFT: 0.25in;
			FONT-SIZE: 10pt; 
			FONT-WEIGHT: Bold;
	}
	p.texthead {
   		FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; 
			MARGIN-LEFT: 1%;
			MARGIN-TOP: 0.15in; 
			FONT-WEIGHT: Bold;
			FONT-SIZE: 12pt;
  	}
	h3.TOC2 {
			MARGIN-LEFT: 0.4in;
			MARGIN-TOP: 0.1in;
			MARGIN-BOTTOM: 0in;
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
			FONT-WEIGHT: normal;
			COLOR: #000000;
	}
	p.TOC2 {
			MARGIN-LEFT: 0.4in; 
	}	
	h4.TOC3 {
			MARGIN-LEFT: 0.6in;
			MARGIN-TOP: 0.1in;
			MARGIN-BOTTOM: 0in;
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
			FONT-WEIGHT: normal;
			COLOR: #000000;
	}
	p.TOC3 {
			MARGIN-LEFT: 0.6in; 
	}	
	h5.TOC4 {
			MARGIN-LEFT: 0.8in;
			MARGIN-TOP: 0.1in;
			MARGIN-BOTTOM: 0in;
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
			FONT-WEIGHT: normal;
			COLOR: #000000;
	}
	p.TOC4 {
			MARGIN-LEFT: 0.8in; 
	}

	h1.TOCpart {
			FONT-SIZE: 12pt;
			FONT-WEIGHT: bold;
	}	
	p.TOCpart {
			FONT-SIZE: 12pt;
	}
	p.troubleshoot {
			FONT-SIZE: 18pt;
			COLOR: red;
	}
	div.tblmargin {
			TEXT-ALIGN: Left;
			MARGIN-LEFT: 0.25in; 
			MARGIN-RIGHT: 0.2in; 
			FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif;
			FONT-SIZE: 10pt;
	}
	ul.smallindent {
        	MARGIN-LEFT: 0.2in; 
        	MARGIN-RIGHT: .1in; 
        	MARGIN-TOP: 0.1in; 
        	MARGIN-BOTTOM: 0in; 
	}
	.bullet-header {
    	MARGIN-TOP: 0.1in; 
		MARGIN-LEFT: 0.1in; 
      MARGIN-RIGHT: 0.05in; 
      MARGIN-BOTTOM: .04in; 
    	FONT-WEIGHT: Bold;
      FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif;
      FONT-SIZE: 9pt;
      COLOR: #000000;
  	}
	.bullet-text {
    	MARGIN-TOP: 0.1in; 
    	MARGIN-LEFT: 0.1in; 
  	}
	.descrip {
		MARGIN-LEFT: 0.45in; 
		MARGIN-TOP: 0.05in; 
		MARGIN-BOTTOM: 0.1in;
		FONT-FAMILY: Arial,Helvetica,sans-serif;
		font-style: normal;
	}
	.footerrule {
		background: url(images/footer_rule.gif);
	}
	.formclass {
		font-size:10px;
		height: 17px;
		margin-left: 0.25in;
	}
	.h2 {
    	MARGIN-TOP: 0.1in; 
		MARGIN-LEFT: -0.05in;
    	FONT-WEIGHT: bold; 
    	FONT-FAMILY: Arial,Helvetica,Geneva,sans-serif; 
		color: Black;
		font-size: small;
    }
	.pagetitle {
		MARGIN-TOP: 0.0in; 
		MARGIN-BOTTOM: 0.0in;
		MARGIN-LEFT: 0.25in;
		COLOR: gray;
		FONT-SIZE: 14pt;
		FONT-WEIGHT: Bold;
		TEXT-ALIGN: left;
	}
	.rule {
		background: url(images/rule.gif);
	}
	select, input
	{
		font-size: 11px;
	}
	.smallredline {
		MARGIN-LEFT: 0; 
		MARGIN-RIGHT: 0; 
		MARGIN-TOP: 0; 
		MARGIN-BOTTOM: 0; 
		font-size: 1pt;
	}
	table.edocshelp {
		width: 98%;
		margin-top: 1%;
	}
	.text {
    	MARGIN-TOP: 0.1in; 
    	MARGIN-LEFT: 1%;
  	}
	.texthide {	
		COLOR: 	white;
		FONT-WEIGHT: bold;	
	}
	.topictable {
		margin-left: 0.25in;
	}
	ul.bulletarrow li{
		list-style-image: url(images/bullet_arrow.gif);
		margin-top:.02in;
		MARGIN-LEFT: -1%;
	}
 