/* Delivered by Scott Steffens/Marketing */
/* Version 1.37b */ 
/* main page */
/* 7/7/05: Updated the following styles: #header, #headergraphic, and #graybar to set width
   to 100%, define a minimum width of 799px, and indicate that you do 
   not want the text/graphics to wrap. In some cases, the background color
   has been adjusted as well. */

body {
	margin:0;
	padding:0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#000;
	background-color: #fff;
}
	
table, td {
	vertical-align: top;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a:link, a:visited {
            color: #0076CC; 
            text-decoration: none; 
}
 
a:hover {
            color: #0076CC; 
            text-decoration: underline; 
}


/* header */


#header {
	background-color: #e6e6e6;  
	min-width: 799px;
	width: 100%;
	white-space:nowrap;
	border-right: 1px solid #ABABAB;
	position: relative;
}

#headergraphic {
	background-color: #ffffff;
	min-width: 799px;
    	width: 100%;
	height: 85px;
    	white-space:nowrap;
	padding:0;
	margin:0;
}

.buttons {
	position: relative;
	color: #fff;
	font-size: 11px;
	right: 0px;
}

.buttons a:link, .buttons a:visited {
	color: #fff; 
	font-size: 11px;
	text-decoration: none; 
}

.buttons a:hover {
		color: #fff;
		text-decoration: underline;
	}

#floater {
	position: absolute;
	right: 0px;
	top: 3px;
	padding-right: 10px;
	text-align: right;
}

.searchbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px; 
	right: 0px;
	margin-top: 6px;
}

input.search {
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 200px;
	color: #444;
}
	
.blueline {
	background-color: #0066CB;
	height: 2px;
	margin-top: 1px;
}

#graybar {
	background:#e6e6e6;
	font-size:11px;
	color:#333;
	position: relative;
	min-width: 799px;
   	width: 100%;
	height: 25px;
   	white-space:nowrap;
}

#graybar a:link, #graybar a:visited {
	color: #000; 
	font-size: 11px;
	text-decoration: none; 
}

#graybar a:hover { 
	text-decoration: underline; 
}

.topnav {
	padding: 5px 0 0 2px;
	position: relative;
	left: 0px;
	margin-left: 8px;
}
	
.twodots {
	background-image: url(images/twodots.gif);
	background-repeat: repeat-x;
	height: 3px;	
}

/* left nav */


#left_nav
{
	width: 160px;
	background: #F7F7F7;
	font-size: 11px;
	line-height: 1.8;
	border-right: 1px solid #F7F7F7;
	border-bottom: 1px solid #F7F7F7;
	margin-left: 4px;
	padding: 0px;
}

.nav_head
{
	background: #D9D8D8;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 4px;
	padding: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	line-height: 14px; 
	color: #555;
	padding-left: 7px;
}

.nav_group
{
	line-height: 1.6em;
	padding-bottom: 6px;
}


.nav_group a:link, .nav_group a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	color: #555; 
	text-decoration: none; 
	margin-left: 11px;
}

.nav_group a:hover
	{ 
		text-decoration: underline;
	}
	

/*breadcrumb*/

.breadcrumb
{
	margin: 10px 0px 0px 0px;
	padding: 5px 0px 15px 15px;
	top: 0;
	bottom: 0;
	text-align: left;
	border: 1px solid #fff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px; 
	font-weight: normal; 
	color: #333333; 
	text-decoration: none;
	}
	
.breadcrumb:hover 
	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px; 
		font-weight: normal; 
		color: #0076CC; 
		text-decoration: none;
	} 

.breadcrumb:visited 
	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px; 
		font-weight: normal; 
		color: #333333; 
		text-decoration: none;
	} 

.breadcrumb:visited:hover 
	{ 
	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size: 11px; 
		font-weight: normal; 
		color: #0000CC; 
		text-decoration: none;
	} 

/* main column */

.notice
	{
		border: #666 dashed 1px;
		background-color: #e6e6e6;
		padding: 8px;
		margin-top: 20px;
	}

.hide
	{
		display: none;
	}


.wrap
	{
		position: relative;
		width: 750px;
		margin: 0px;
		
	}

.wrap_ln
	{
		position: relative;
		width: 600px;
		margin-left: 180px;
		
	}

.featured
{
		border-collapse: collapse;
}

.featured td
{
	padding-right: 10px;
	padding-bottom: 8px;
}

.feature
{
	font-size: 12px;
	font-weight: bold;
}


#col_main
{
	width: 420px;
	padding-left: 14px;
	padding-right: 8px;
	margin: 0 20px;
}

#col_main_left, #col_main_right
{
	width: 200px;
	margin: 0 20px;
}

#col_main_left { padding-right: 20px; }

#col_right
{
	width: 200px;
	margin: 0 20px;
	padding-left: 8px;
}

.box_gray, .box_white
{
	margin-bottom: 12px;
	border: 1px solid #d3d3d3;
	padding: 10px 5px 5px 5px;
}

.box_gray
{	
	background-color: #f4f4f4;
}

.graybox
	{
		background-color: #eee;
		border-top: 1px dotted #666;
		border-bottom: 1px dotted #666;
		padding: 10px;
		margin: 10px 0px 10px 0px;
	}
	
	.icon
{
	padding: 4px 2px 5px 5px;
}

.title
{
	margin-bottom: 3px;
}


.leftnav
	{
		width: 160px;
		padding-top: 2px;
		margin-left: 10px;
		float: left;
		
	}


.thumb
	{
		margin-right: 5px;
		margin-bottom: 5px;
	}

.thumb_right
	{
		margin-top: 5px;
		margin-left: 5px;
		margin-bottom: 5px;
	}
	
.blurb
{
	margin-top: 6px;
}

.pullquote
	{
		color:#666;
		font-weight:bold;
		width:170px;
		float:right;
		border-top: 1px solid #999;
		border-bottom: 1px solid #999;
		background-color:#eee;
		padding:8px;
		margin: 5px 0px 5px 5px;
	}
	
/* Legacy DLC classes */

.small
	{
		font-size:10px;
	}

/* Subscriptions */

#navLeft {
	float: left;
	width: 160px;
	}
	
#contentRight {
	margin: 0 0 0 180px;
	width:560px;
	}

/* Search Results Page */
.keywordhighlight
{
	font-weight: bold;
	background-color: #fff;
	background-layer: #fff;
}

.l { font-size: 11px; }

#footer {
	margin-top: 50px;
	margin-bottom: 8px;
	padding-left: 28px;
	color: #666;
}

#footer a:link, #footer a:visited {
	color: #666; 
	font-size: 11px;
	text-decoration: none; 
}

#footer a:hover { 
	text-decoration: underline; 
}